@import '@/styles/globals';
@import '@/styles/mixins';

.contactInfo {
  display: flex;
  align-items: center;

  @include media($lg) {
   display: none;
  }
}

.imageContainer {
  max-width: 300px;

  img {
    display: block;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1600px;
}

.navbarContainer {
  display: flex;
  justify-content: center;
  min-height: 70px;
  background-color: $sub-color;
  color: $white;
  margin-bottom: 30px;
  border-bottom: 3px solid $base-yellow;
}

.navbar {
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }

  > a {
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: 0.3s ease all;

    &:hover {
      background-color: $base-yellow;
      color: #000;
    }
  }
}

.phoneContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.phoneIcons {
  width: 28px;
  height: 28px;
  stroke-width: 1.5px;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $base-color;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
}